# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
/doc
/img
.editorconfig
*.xml
*.txt
icon.png
tile.png
tile-wide.png
*.json
site.webmanifest
js/plugins.js
.idea/
.gitattributes
404.html
